{% extends 'base.html' %}

{% block content %}
<h1>New Event</h1>

<form method="POST">
    <p>
        <label>
            Event Title:
            <input type="text" name="title" id="title" required>
        </label>
    </p>
    <p>
        <label>
            Event Description: <br>
            <input type="textarea" name="description" required></textarea>
        </label>
    </p>
    {% if error %}
        <p class="error">Error: {{ error }}</p>
    {% endif %}
    <p>
        
        <label>
            Date and Time: <br>
            <input type="date" name="date" placeholder="Date format YYYY-mm-dd">
            <input type="time" name="time" placeholder="Time format HH:MM">
        </label>
    </p>
    <p>
        <label> Category: <br>
            <select name="category">
                {% for category in EventType %}
                    <option value="{{ category.name }}">{{ category.value }}</option>
                {% endfor %}
            </select>
        </label>
    </p>
    <p>
        <input type="submit" name="submit" value="Add">
    </p>
</form>

{% endblock %}
